{% extends 'AIdemosite/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/prism.css'%}" />
<!-- <link rel="stylesheet" href="prism.css" /> -->

<div style="padding-top: 50px"></div>

<form method="get" class="container-fluid">
  <div class="input-group">
    <button class="btn btn-outline-secondary" name="language" value="en">
      English
    </button>
    <button class="btn btn-outline-secondary" name="language" value="zh">
      中文
    </button>
  </div>
</form>
<div style="padding-top: 20px"></div>

{% if language == "en" or language == ""%}
<h1>API instructions</h1>
<h3>Image Analysis</h3>
<p>
  This Website uses
  <a
    href="https://westus.dev.cognitive.microsoft.com/docs/services/computer-vision-v3-2/operations/56f91f2e778daf14a499f21b"
    >Computer Vision API (v3.2)</a
  >
  <br />
  The new version Computer
  <a
    href="https://westus.dev.cognitive.microsoft.com/docs/services//unified-vision-apis-public-preview-2022-10-12-preview/operations/61d65934cd35050c20f73ab6"
    >Computer Vision API (v4)</a
  >
  is now in preview (2022/10/12)
</p>
<hr class="hr" />

<!-- Request URL -->
<h5>Request URL (POST Request)</h5>
<div
  class="p-2"
  style="background-color: rgb(238, 238, 238); border-radius: 5px"
>
  https://{endpoint}/vision/v3.2/analyze[?visualFeatures][&details][&language][&model-version]
</div>

<!-- endpoint -->
<hr class="hr" />

<h5>endpoint</h5>
<div class="pb-2">
  the endpoint will usually show in your service <b>overview in azure portal</b>
</div>
<div
  class="p-2"
  style="background-color: rgb(238, 238, 238); border-radius: 5px"
>
  https://[your_service_name].cognitiveservices.azure.com/
</div>
<hr class="hr" />

<!-- Request parameters -->
<h5>Request parameters</h5>

<h6>visualFeatures</h6>
<div class="pb-2">
  A string indicating what visual feature types to return. Multiple values
  should be comma-separated.
  <ul>
    <li>
      <b>Adults - </b>detects if the image is pornographic in nature (depicts
      nudity or a sex act), or is gory (depicts extreme violence or blood).
      Sexually suggestive content (aka racy content) is also detected.
    </li>
    <li>
      <b>Brands - </b>detects various brands within an image, including the
      approximate location. The Brands argument is only available in English.
    </li>
    <li>
      <b>Categories - </b>categorizes image content according to a taxonomy
      defined in documentation.
    </li>
    <li>
      <b>Color - </b>determines the accent color, dominant color, and whether an
      image is black&white.
    </li>
    <li>
      <b>Description - </b>describes the image content with a complete sentence
      in supported languages.
    </li>
    <li>
      <b>Faces - </b>detects if faces are present. If present, generate
      coordinates, gender and age.
    </li>
    <li><b>ImageType - </b>detects if image is clipart or a line drawing.</li>
    <li>
      <b>Objects - </b>detects various objects within an image, including the
      approximate location. The Objects argument is only available in English.
    </li>
    <li>
      <b>Tags - </b>tags the image with a detailed list of words related to the
      image content.
    </li>
  </ul>
</div>
<h6>details</h6>
<div class="pb-2">
  A string indicating which domain-specific details to return. Multiple values
  should be comma-separated.
  <ul>
    <li>
      <b>Celebrities - </b>identifies celebrities if detected in the image.
    </li>
    <li><b>Landmarks - </b>identifies landmarks if detected in the image.</li>
  </ul>
</div>
<h6>language</h6>
<div class="pb-2">
  A string indicating which language to return. The service will return
  recognition results in specified language. If this parameter is not specified,
  the default value is "en". See
  <a href="https://aka.ms/cv-languages">Language Support</a> for list of
  supported languages.
</div>
<h6>model-version</h6>
<div class="pb-2">
  Optional parameter to specify the version of the AI model. The default value
  is "latest".
</div>

<div style="padding-top: 20px"></div>
<hr class="hr" />
<h5>Request headers</h5>
<h6>Content-Type</h6>
<div class="pb-2">Media type of the body sent to the API.</div>
<h6>Ocp-Apim-Subscription-Key</h6>
<div class="pb-2">
  Subscription key which provides access to this API. Found in your
  <a
    href="https://portal.azure.com/#blade/HubsExtension/BrowseResourceBlade/resourceType/Microsoft.CognitiveServices%2Faccounts"
    >Cognitive Services accounts</a
  >.
</div>
<hr class="hr" />
<h5>Request body</h5>
<div class="pb-2">
  Input passed within the POST body. Supported input methods: raw image binary
  or image URL.
  <ul>
    <li>Supported image formats: JPEG, PNG, GIF, BMP.</li>
    <li>Image file size must be less than 4MB.</li>
    <li>Image dimensions must be at least 50 x 50.</li>
  </ul>
</div>

<hr class="hr" />
<h5>Code Sample</h5>
{% elif language == "zh" %}
<h1>API 指南</h1>
<h3>影像分析服務</h3>
<p>
  本網站使用:
  <a
    href="https://westus.dev.cognitive.microsoft.com/docs/services/computer-vision-v3-2/operations/56f91f2e778daf14a499f21b"
    >Computer Vision API (v3.2)</a
  >
  <br />
  最新版本:
  <a
    href="https://westus.dev.cognitive.microsoft.com/docs/services//unified-vision-apis-public-preview-2022-10-12-preview/operations/61d65934cd35050c20f73ab6"
    >Computer Vision API (v4)</a
  >
  目前為測試版本 (2022/10/12)
</p>
<hr class="hr" />

<!-- Request URL -->
<h5>Request URL (POST Request)</h5>
<div
  class="p-2"
  style="background-color: rgb(238, 238, 238); border-radius: 5px"
>
  https://{endpoint}/vision/v3.2/analyze[?visualFeatures][&details][&language][&model-version]
</div>

<!-- endpoint -->
<hr class="hr" />

<h5>endpoint (端點)</h5>
<div class="pb-2">服務的端點可以在Azure Portal中的服務概觀中找到</div>
<div
  class="p-2"
  style="background-color: rgb(238, 238, 238); border-radius: 5px"
>
  https://[your_service_name].cognitiveservices.azure.com/
</div>
<hr class="hr" />

<!-- Request parameters -->
<h5>請求參數 (Request Parameter)</h5>

<h6>visualFeatures 視覺特徵</h6>
<div class="pb-2">
  一段控制回傳分析類型的字串。多個類型需用逗點隔開。
  <!-- A string indicating what visual feature types to return. Multiple values should be comma-separated. -->
  <ul>
    <li>
      <b>Adults - </b>
      偵測圖像是否含有成人內容(暴力、情色、種族歧視等)
    </li>
    <li>
      <b>Brands - </b>
      偵測在圖像中出現的品牌，包含出現位置。品牌參數目前只支援英語
    </li>
    <li>
      <b>Categories - </b>
      按照
      <a
        href="https://learn.microsoft.com/en-us/azure/cognitive-services/computer-vision/category-taxonomy"
        >文件</a
      >中類別分類法對圖像進行分類
    </li>
    <li>
      <b>Color - </b>
      電腦視覺會分析影像中的色彩，提供三個不同的屬性：主要前景色彩、主要背景色彩，以及影像整體的主要色彩集合。
    </li>
    <li><b>Description - </b>對圖片進行一段文字描述</li>
    <li>
      <b>Faces - </b>
      偵測圖片中出現的人臉，並回傳位置、年齡、性別等資訊
    </li>
    <li>
      <b>ImageType - </b>
      偵測圖片為美術圖像或線條繪畫的可能性
    </li>
    <li>
      <b>Objects - </b>
      物件偵測與標記功能類似，但 API
      會傳回影像中每個所找到物件的週框方塊座標。(物件名稱目前只支援英語)
    </li>
    <li>
      <b>Tags - </b>
      用不同標籤文字標記圖片中的內容
    </li>
  </ul>
</div>
<h6>details</h6>
<div class="pb-2">
  一段指定特定領域的字串。多個類型需用逗點隔開。
  <ul>
    <li>
      <b>Celebrities - </b>
      偵測圖像中出現的名人
    </li>
    <li><b>Landmarks - </b>偵測圖像中出現的地標</li>
  </ul>
</div>
<h6>language</h6>
<div class="pb-2">
  一段指定回傳語言的字串。API將用指定語言回傳結果。(預設為英語) <br />
  詳情請查看
  <a href="https://aka.ms/cv-languages">支援語言</a>
</div>
<h6>model-version</h6>
<div class="pb-2">決定使用的AI模型版本(預設為最新版本)</div>

<div style="padding-top: 20px"></div>
<hr class="hr" />
<h5>Request headers</h5>
<h6>Content-Type</h6>
<div class="pb-2">傳送至API的媒體類型</div>
<h6>Ocp-Apim-Subscription-Key</h6>
<div class="pb-2">
  訂用帳戶識別碼提供此API的權限，可以在
  <a
    href="https://portal.azure.com/#blade/HubsExtension/BrowseResourceBlade/resourceType/Microsoft.CognitiveServices%2Faccounts"
    >Cognitive Services accounts</a
  >
  中找到
</div>
<hr class="hr" />
<h5>Request body</h5>
<div class="pb-2">
  輸入在POST body中傳輸. 支援的輸入方法: 二進制圖像 或 圖像URL.
  <ul>
    <li>支援圖像格式: JPEG, PNG, GIF, BMP.</li>
    <li>圖像檔案大小必須小於4MB</li>
    <li>圖像規格必須大於 50 x 50</li>
  </ul>
</div>

<hr class="hr" />
<h5>程式範例：</h5>
{% endif %}
<div
  class="p-2"
  style="background-color: rgb(238, 238, 238); border-radius: 5px"
>
  <pre>
    <code class="language-python">
        ########### Python 3.2 #############
import http.client, urllib.request, urllib.parse, urllib.error, base64

headers = {
    # Request headers
    'Content-Type': 'application/json',
    'Ocp-Apim-Subscription-Key': '{subscription key}',
}

params = urllib.parse.urlencode({
    # Request parameters
    'visualFeatures': 'Categories',
    'details': '{string}',
    'language': 'en',
    'model-version': 'latest',
})

try:
    conn = http.client.HTTPSConnection('westus.api.cognitive.microsoft.com')
    conn.request("POST", "/vision/v3.2/analyze?%s" % params, "{body}", headers)
    response = conn.getresponse()
    data = response.read()
    print(data)
    conn.close()
except Exception as e:
    print("[Errno {0}] {1}".format(e.errno, e.strerror))

####################################
    </code>
    </pre>
</div>
<div style="padding-top: 50px"></div>

<script src="{% static 'js/prism.js'%}"></script>
{% endblock %}
