{% extends 'AIdemosite/base.html' %} {% block content %} {% load static %}

<form method="post" class="container-fluid">
  {% csrf_token %}

  <h2>Brand Detection</h2>
  <div class="input-group mb-3 mt-3">
    <span class="input-group-text">Image URL</span>
    <input
      type="text"
      id="img-url"
      name="img-url"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
      placeholder="put your image URL here"
    />
    <button type="submit" class="btn btn-outline-secondary" name="analyze">
      Analyze
    </button>
    <button
      id="img-modal-btn"
      type="button"
      class="btn btn-outline-success"
      data-bs-toggle="modal"
      data-bs-target="#popup-img"
    >
      Image Preview
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="popup-img"
      tabindex="-1"
      aria-labelledby="popup-imgLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="popup-imgLabel">Image</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div id="img-container" class="modal-body">
            <img id="modal-img" class="img-fluid" src="" alt="img not found" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.getElementById("img-modal-btn").onclick = function () {
        img = document.getElementById("modal-img");
        img.src = document.getElementById("img-url").value;
      };
    </script>
  </div>
  <div class="input-group mb-3">
    {% if flag == True %}
    <div class="row">
      <img
        id="modal-img"
        class="img-fluid col-sm-10"
        src="{% static 'images/brand_detection_result.jpg'%}"
        alt="img not found"
      />
      <div class="col-sm-2">
        <div class="input-group mb-3" >
          {% for d in data %}
          {{d.name}} ({{d.confidence}})<br/>
          {% endfor %}
        </div>
      </div>
    </div>
    
    {% else %}
    <div style="padding-top: 50px; padding-bottom: 10px">
      <h2>Instructions:</h2>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Image URL</span>
      <h4 style="padding-left: 10px">This demo uses image url as the input</h4>
    </div>
    <div class="input-group mb-3">
      <h4 style="padding-left: 10px">
        Press the
        <button
          type="button"
          class="btn btn-outline-success"
          disabled="disabled"
        >
          Image Preview
        </button>
        button to get the preview of the image
      </h4>
    </div>
    <div class="input-group mb-3">
      <h4 style="padding-left: 10px">
        Press the
        <button class="btn btn-outline-secondary" disabled="disabled">
          Analyze
        </button>
        button to get the result
      </h4>
    </div>
    {% endif %}
  </div>
</form>

<div style="padding-top: 50px"></div>
{% endblock %}
