{% extends 'AIdemosite/base.html' %} {% block content %} {% load static%}

<form method="post" class="container-fluid">
  {% csrf_token %}
  <!-- Speech to text -->
  <label class="form-label">Speach Language:</label>
  <div class="input-group mb-3">
    <select
      class="btn btn-outline-primary"
      aria-label="Default select example"
      id="lang_slct"
    >
      <option selected value="en-US">English</option>
      <option value="zh-TW">中文</option>
      <option value="es-ES">Español</option>
      <option value="fr-FR">Français</option>
      <option value="de-DE">Deutsch</option>
      <option value="ja-JP">日本語</option>
    </select>
    <button type="submit" class="btn btn-outline-secondary" id="btn_translate">
      Speech to text
    </button>
  </div>
  <label class="form-label">Translate to:</label>
  <div class="input-group mb-3">
    <span class="input-group-text" id="addon-wrapping">中文</span>
    <input
      type="text"
      class="form-control"
      value="{{zh}}"
      name="s2t"
      id="output_zh"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="addon-wrapping">English</span>
    <input
      type="text"
      class="form-control"
      value="{{en}}"
      name="s2t"
      id="output_en"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="addon-wrapping">Español</span>
    <input
      type="text"
      class="form-control"
      value="{{es}}"
      name="s2t"
      id="output_es"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="addon-wrapping">Français</span>
    <input
      type="text"
      class="form-control"
      value="{{fr}}"
      name="s2t"
      id="output_fr"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="addon-wrapping">Deutsch</span>
    <input
      type="text"
      class="form-control"
      value="{{de}}"
      name="s2t"
      id="output_de"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="addon-wrapping">日本語</span>
    <input
      type="text"
      class="form-control"
      value="{{ja}}"
      name="s2t"
      id="output_ja"
    />
  </div>
</form>

<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="{% static 'js/speech_translate.js'%}"></script>
{% endblock %}
