{% extends 'AIdemosite/base.html' %} {% block content %} {% load static %}
<!-- 
<button
  id="record_btn"
  class="btn btn-outline-secondary"
  onclick="startRecord()"
>
  Start record
</button>
<button id="stop__btn" class="btn btn-outline-secondary" onclick="stopRecord()">
  Stop recording
</button>
<div class="audio">
  <audio controls="controls" id="audio"></audio>
</div>

<script src="{% static 'js/recorder.js'%}"></script>
<script>
  var recorder;
  var stream;
  var url;
  function startRecord() {
    var device = navigator.mediaDevices.getUserMedia({ audio: true });
    var items = [];
    device.then((stream) => {
      recorder = new MediaRecorder(stream);
      this.stream = stream;
      recorder.ondataavailable = (e) => {
        items.push(e.data);
        if (recorder.state == "inactive") {
          var blob = new Blob(items, { type: "audio/wav" });
          var audio = document.getElementById("audio");
          url = URL.createObjectURL(blob);
          audio.setAttribute("src", url);
        }
      };
      recorder.start();
    });
  }
  function stopRecord() {
    recorder.stop();
    stream.getTracks().forEach(function (track) {
      if (track.readyState == "live" && track.kind === "audio") {
        track.stop();
      }
    });
    recorder.exportWAV(function (e) {
      recorder.clear();
      Recorder.forceDownload(e, "audio.wav");
    });
    var myHeaders = new Headers();
    myHeaders.append(
      "Ocp-Apim-Subscription-Key",
      "ac1b8fe3034344a787dc45b06243f51b"
    );
    myHeaders.append("Content-Type", "audio/wav");
    myHeaders.append(
      "Authorization",
      "Bearer eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJyZWdpb24iOiJlYXN0YXNpYSIsInN1YnNjcmlwdGlvbi1pZCI6IjZkZTEwNjZhM2YzODQ2MTJhMjc3NzRmODFmMjY5MzcxIiwicHJvZHVjdC1pZCI6IlNwZWVjaFNlcnZpY2VzLkYwIiwiY29nbml0aXZlLXNlcnZpY2VzLWVuZHBvaW50IjoiaHR0cHM6Ly9hcGkuY29nbml0aXZlLm1pY3Jvc29mdC5jb20vaW50ZXJuYWwvdjEuMC8iLCJhenVyZS1yZXNvdXJjZS1pZCI6Ii9zdWJzY3JpcHRpb25zLzk3OWI0ODI1LTI1YTItNGE0NC1iNDViLTllYzE1ZmIzZDYwYy9yZXNvdXJjZUdyb3Vwcy9teUxlYXJuaW5nR3JvdXAvcHJvdmlkZXJzL01pY3Jvc29mdC5Db2duaXRpdmVTZXJ2aWNlcy9hY2NvdW50cy9sZWFybi1zcGVlY2hTZXJ2aWNlcyIsInNjb3BlIjoic3BlZWNoc2VydmljZXMiLCJhdWQiOiJ1cm46bXMuc3BlZWNoc2VydmljZXMuZWFzdGFzaWEiLCJleHAiOjE2NjY4NTIzNzUsImlzcyI6InVybjptcy5jb2duaXRpdmVzZXJ2aWNlcyJ9.NAY3G22dIH0LxeYHiZMi8rjRy1CBa9L7y16FCWDsgz0"
    );

    var file = "AIdemosite/Wav_868kb.wav";

    var requestOptions = {
      method: "POST",
      headers: myHeaders,
      body: file,
      redirect: "follow",
    };

    fetch(
      "https://eastasia.stt.speech.microsoft.com/speech/recognition/interactive/cognitiveservices/v1?language=en-US",
      requestOptions
    )
      .then((response) => response.text())
      .then((result) => console.log(result))
      .catch((error) => console.log("error", error));
  }

  // recorder.js
</script>
 -->
<div style="padding-top: 50px"></div>
<h2>Speech-to-text</h2>
<div class="input-group mb-3">
  <select
    class="btn btn-outline-primary"
    aria-label="Default select example"
    id="lang_slct"
  >
    <option selected value="en-US">English</option>
    <option value="zh-TW">中文</option>
    <option value="es-ES">Español</option>
    <option value="fr-FR">Français</option>
    <option value="de-DE">Deutsch</option>
    <option value="ja-JP">日本語</option>
  </select>
  <button type="submit" class="btn btn-outline-secondary" id="btn_s2t">
    Speech to text
  </button>
</div>
<div class="input-group">
  <label for="">Result</label>
</div>
<div class="input-group mb-3">
  <textarea
    id="result"
    style="display: inline-block; width: 500px; height: 200px"
  ></textarea>
</div>


    <script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
    <script src="{% static 'js/speech_service.js'%}"></script>
  </body>
</html>
{% endblock %}
